<div class="wrapper" id="galleryWrapper" ng-style="wrapperStyle" ng-init="init()">
	<div class="main-image" ng-style="mainImageStyle">
		<div class="fullscreen-button"
			 ng-style="fullscreenButtonStyle"
			 ng-mouseenter="shiftBackground('fullscreenButtonStyle')"
			 ng-mouseleave="shiftBackgroundBack('fullscreenButtonStyle')"
			 ng-click="toggleFullscreen()"></div>
		<img ng-src={{mainImage}} 
			 ng-dblclick="toggleFullscreen()"/>
	</div>
	<div class="navigation-container" ng-style="navigationContainerStyle" id="navigationContainer">
		<ul class="items-list" id="itemsList" 
			ng-style="itemsListStyle" 
			ng-swipe-left="nextPage()"
			ng-swipe-right="previousPage()">
			<li ng-repeat="item in dataSource.response.photos"
				ng-click="setMainImage(item)"
				ng-style="listItemStyle"
				ng-class="{'selected':$index == selectedItemIndex}">
				<img ng-src="{{galleryUrl+item.thumb}}">
			</li>
		</ul>
		<div class="left arrow"
			 ng-style="leftArrowStyle"
			 ng-mouseenter="shiftBackground('leftArrowStyle')"
			 ng-mouseleave="shiftBackgroundBack('leftArrowStyle')"
			 ng-click="previousPage()"
			 ng-show="!isBeginning()">
		</div>
		<div class="right arrow"
			 ng-style="rightArrowStyle"
			 ng-mouseenter="shiftBackground('rightArrowStyle')"
			 ng-mouseleave="shiftBackgroundBack('rightArrowStyle')"
			 ng-click="nextPage()"
			 ng-show="!isEnd()">
		</div>
	</div>
</div>
<div class="fullscreen-image" id="mainImage">
	<img ng-src="{{fullscreenImage}}"
		 ng-dblclick="toggleFullscreen()"></img>

	<div class="fullscreen-button visible reverse"
		 ng-style="fullscreenButtonStyle"
		 ng-mouseenter="shiftBackground('fullscreenButtonStyle')"
		 ng-mouseleave="shiftBackgroundBack('fullscreenButtonStyle')"
		 ng-click="toggleFullscreen()"></div>
</div>
