gallery-main-module .wrapper {
	display: inline-block;
	padding: 10px;
}

.main-image {
	position: relative;
	margin-bottom: 10px;
}

	.main-image img {
		width: 100%;
	}

	.main-image:hover .fullscreen-button {
		display: block;
	}

.fullscreen-button {
	position: absolute;
	background-image: url('images/fullscreen-ico.png');
	background-size: cover;
	right: 10px;
	top: 10px;
	cursor: pointer;
	display: none;
}

.fullscreen-image {
	width: 100%;
	visibility: hidden;
	background-color: black;
	text-align: center;
}

	.fullscreen-image:-webkit-full-screen {
		visibility: visible;
	}

	.fullscreen-image:-moz-full-screen {
		visibility: visible;
	}

.navigation-container {
	overflow: hidden;
}

.items-list {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
}

	.items-list > li {
		display: inline-block;
		list-style-type: none;
	}

		.items-list > li img {
			width: auto;
			height: 100%;
		}

			.items-list > li img:hover {
				-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				cursor: pointer;
			}

		.items-list > li:not(.arrow) {
			width: 20%;
			height: 100%;
			text-align: center;
		}

	.items-list li.arrow {
		position: absolute;
		display: none;
		background-position: 0 0;
		background-size: cover;
		opacity: 0.5;
	}

	.items-list li.left.arrow {
		left: 10px;
		background-image: url('images/left-arrow.png');
	}

	.items-list li.right.arrow {
		right: 10px;
		background-image: url('images/right-arrow.png');
	}

	.items-list:hover li.arrow {
		display: inline-block;
	}

	.items-list li.arrow:hover {
		cursor: pointer;
	}
