gallery-main-module .wrapper {
	display: inline-block;
	padding: 10px;
	max-width: 100%;
}

.main-image {
	position: relative;
	margin-bottom: 10px;
}

	.main-image img {
		width: 100%;
	}

	.main-image:hover .fullscreen-button,
	.fullscreen-image:hover .fullscreen-button {
		display: block;
	}

.fullscreen-button {
	position: absolute;
	background-image: url('images/fullscreen-ico.png');
	background-size: cover;
	right: 10px;
	top: 10px;
	cursor: pointer;
	display: none;
}

	.fullscreen-button.visible {
		display: block;
	}

	.fullscreen-button.reverse {
		background-image: url('images/reverse-fullscreen-ico.png');
	}

.fullscreen-image {
	width: 100%;
	visibility: hidden;
	background-color: black;
	text-align: center;
}

	.fullscreen-image img {
	}

	.fullscreen-image:-webkit-full-screen {
		visibility: visible;
	}

	.fullscreen-image:-moz-full-screen {
		visibility: visible;
	}

	.fullscreen-image:-ms-fullscreen {
		visibility: visible;
	}

	.fullscreen-image:-webkit-full-screen img {
		max-width: 100%;
		max-height: 100%;
		bottom: 0;
		left: 0;
		margin: auto;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}

	.fullscreen-image:-moz-full-screen img {
		max-width: 100%;
		max-height: 100%;
		bottom: 0;
		left: 0;
		margin: auto;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}

	.fullscreen-image:-ms-fullscreen img {
		max-width: 100%;
		max-height: 100%;
		bottom: 0;
		left: 0;
		margin: auto;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}

.navigation-container {
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	padding-right: 1%;
}

	.navigation-container:hover .arrow {
		display: block;
	}


.items-list {
	position: relative;
	display: block;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
	-webkit-user-select: none;
	-ms-user-select: none; /* From IE10 only */
	user-select: none; /* Not valid CSS yet, as of July 2012 */
}

	.items-list > li {
		display: inline-block;
		list-style-type: none;
		height: 100%;
		text-align: center;
		overflow: hidden;
	}

		.items-list > li.selected {
			-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
			box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
		}

		.items-list > li:first-child {
			margin-left: 0;
		}

		.items-list > li img {
			width: auto;
			height: 100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			transition: all 0.3s ease;
			-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
			-webkit-user-select: none;
			-ms-user-select: none; /* From IE10 only */
			user-select: none; /* Not valid CSS yet, as of July 2012 */
			-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
			user-drag: none;
		}

			.items-list > li img:hover {
				cursor: pointer;
				-moz-transform: scale(1.1);
				transform: scale(1.1);
			}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
}

.arrow {
	position: absolute;
	display: none;
	background-position: 0 0;
	background-size: cover;
	opacity: 0.5;
}

	.arrow:hover {
		cursor: pointer;
	}

.left.arrow {
	left: 10px;
	background-image: url('images/left-arrow.png');
}

.right.arrow {
	right: 10px;
	background-image: url('images/right-arrow.png');
}
