<div class="wrapper" id="galleryWrapper" ng-style="wrapperStyle" ng-init="init()">
	<div class="main-image" ng-style="mainImageStyle">
		<div class="fullscreen-button"
			 ng-style="fullscreenButtonStyle"
			 ng-mouseenter="shiftBackground('fullscreenButtonStyle')"
			 ng-mouseleave="shiftBackgroundBack('fullscreenButtonStyle')"
			 ng-click="toggleFullscreen()"></div>
		<img ng-src={{mainImage}} 
			 ng-dblclick="toggleFullscreen()"/>
	</div>
	
	<gallery-carousel></gallery-carousel>
</div>
<div class="fullscreen-image" id="mainImage">
	<img ng-src="{{fullscreenImage}}"
		 ng-dblclick="toggleFullscreen()"></img>

	<div class="fullscreen-button visible reverse"
		 ng-style="fullscreenButtonStyle"
		 ng-mouseenter="shiftBackground('fullscreenButtonStyle')"
		 ng-mouseleave="shiftBackgroundBack('fullscreenButtonStyle')"
		 ng-click="toggleFullscreen()"></div>
</div>
