gallery-main-module .wrapper {
	display: inline-block;
}

.main-image {
	padding: 5px;
	position: relative;
}

	.main-image img {
		width: 100%;
	}

	.main-image:hover .fullscreen-button {
		display: block;
	}

.fullscreen-button {
	position: absolute;
	background-image: url('images/fullscreen-ico.png');
	background-size: cover;
	right: 10px;
	top: 10px;
	cursor: pointer;
	display: none;
}

.fullscreen-overlay {
	position: fixed;
	visibility: hidden;
	transition: visibility 0s linear 0.3s,opacity 0.3s linear;
	opacity: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.fullscreen-wrapper {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s,opacity 0.3s linear;
	position: fixed;
	top: 5%;
	left: 15%;
	max-width: 70%;
	padding: 15px;
	background-color: white;
	border: 1px solid lightgray;
}

.fullscreen-image {
	width: 100%;
}

.items-list {
	position: relative;
	display: inline-block;
	padding: 5px;
}

	.items-list > li {
		display: inline-block;
		list-style-type: none;
	}

		.items-list > li img {
			width: 100%;
		}

			.items-list > li img:hover {
				-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
				cursor: pointer;
			}

		.items-list > li:not(.arrow) {
			width: 18%;
			margin: 5px 1%;
		}

	.items-list li.arrow {
		position: absolute;
		display: none;
		background-position: 0 0;
		background-size: cover;
		opacity: 0.5;
	}

	.items-list li.left.arrow {
		left: 10px;
		background-image: url('images/left-arrow.png');
	}

	.items-list li.right.arrow {
		right: 10px;
		background-image: url('images/right-arrow.png');
	}

	.items-list:hover li.arrow {
		display: inline-block;
	}

	.items-list li.arrow:hover {
		cursor: pointer;
	}
